{:kotoba.app/id "cloud.itonami.isic-1709", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibgs6ra77lfkhyvr6irdugwyq6yqv2urytohzizbaomigraimnqvu", :kotoba.app/embed-url "ipfs://bafkreibgs6ra77lfkhyvr6irdugwyq6yqv2urytohzizbaomigraimnqvu", :published {:archive "https://kotobase.net/ipfs/bafkreibgs6ra77lfkhyvr6irdugwyq6yqv2urytohzizbaomigraimnqvu", :size 73282, :put-status 201, :get-status 200, :at "2026-08-15T13:33:27.504Z"}}
